body {
	background-color: #ccc;
	width:100%;
	overflow-x: hidden;
}

main {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}

main > header,
main > section,
main > footer  {
	width: 100%;
	height: auto;
}


main > header > div,
main > section > div,
main > footer > div {
	position: relative;
	display: block;
	width: 1200px;
	height: auto;
	background-color: #fff;
	margin: 0 auto;
}

.videoSec{
	background: black;

}
#myBlock {
	display: block;
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.btns-videos {
	position: fixed;
	display: block;
	width: 100%;
	height: 60px;
	z-index: 20;
	top: 0;
	left: 0;
}

.overlay{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:500;
	background: black;
	display:none;
}