@mixin mediaQuerieMax ($maxWidth, $gridSize){
	@media screen and (max-width: $maxWidth){
		body{
			min-width: $gridSize + 10;
		}

		main > section > div,
		main > header > div,
		main > footer > div{
			width:$gridSize;
		}

	}
}

//ate 1200px
@include mediaQuerieMax (1200px, 900px);

//ate 920px
@include mediaQuerieMax (920px, 600px);

//ate 620px
@include mediaQuerieMax (620px, 500px);

//ate 520px
@include mediaQuerieMax (520px, 300px);